.container{
    width: 600px;
    background-color:aliceblue ;
    margin: 0 auto;
   align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#myTextarea{
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: none;
    width: 90%; 
}