.container{
    background-color: beige;
    width: 30%;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
}
#info-card{
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: blueviolet;
    color: wheat;
   box-shadow: 0px 10px 10px rgba(127, 217, 233, 0.2);
   padding: 20px;
}